
<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Search movie</h2>
    <hr>
    <div class="row">
        <div class="col">
            <app-movie-input
                (onEnter)="search( $event )"
                placeholder = "Search a movie..."
            >
            </app-movie-input>
        </div>
    </div>
    <hr>
</div>
<div *ngIf="isErr" class="alert alert-danger">
    Movies not found with {{ term }}
</div>
<div *ngIf="!isErr && multiplesearch" class="row">
    <div class="col">
        <app-movie-table [movies]="movies"></app-movie-table>
    </div>
</div>
